.selectable-card{
    cursor: pointer;
}
.selectable-card>.card-footer{
    min-height: 40px;
}
.selectable-card>.card-footer>.hidden-text{
    display:none;
}
.selectable-card:hover>.card-footer>.hidden-text{
    display:flex;
    color: #fff;
}
.selectable-card:hover>.card-footer>.normal-text{
    display:none;
}
.selectable-card.dark{
    background-color: #121212!important;
    border-color: #2a2a2a!important;
}
.selectable-card>.card-footer{
    border-top-width: 0px!important;
}
.selectable-card.selected{
    outline: rgb(32, 129, 226) solid 3px!important;
    border-color: rgb(32, 129, 226)!important;
}

.selectable-card:hover>.card-footer{
    background-color: rgb(32, 129, 226)!important;
    transition: background-color 0.25s ease-in-out 0s!important;
}