.accordion-themed.dark {
    background-color: #121212!important;
    color: #fff!important;
}

.accordion-themed-item:first-of-type {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.accordion-themed-item:last-of-type {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.accordion-themed-item:not(:first-of-type) {
    border-top: 0;
}
.accordion-themed-item {
    border-style: solid;
    border-width: 1px;
}
.accordion-themed-item.light {
    background-color: #fff!important;
    color: black!important;
    border-color: #dee2e6;
}
.accordion-themed-item.dark {
    background-color: #121212!important;
    color: #fff!important;
    border-color: rgba(255, 255, 255, 0.1)!important;
}

.accordion-themed-header {
    margin-bottom: 0;
}

.accordion-themed-item:last-of-type .accordion-themed-button.collapsed {
    border-bottom-right-radius: calc(0.375rem - 1px);
    border-bottom-left-radius: calc(0.375rem - 1px);
}
.accordion-themed-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
.accordion-themed-button::after {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 20pz;
    transition: transform .2s ease-in-out;
}
.accordion-themed-button.light::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-themed-button.dark::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-themed-button:not(.collapsed)::after {
    transform: rotate(-180deg)
}
.accordion-themed-button.light{
    color:#212529;
    background-color: #fff;
}
.accordion-themed-button.dark{
    color: #fff;
    background-color: #121212;
}
.accordion-themed-button.light:not(.collapsed) {
    background-color: #f2f2f2;
    box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6;
}
.accordion-themed-button.dark:not(.collapsed) {
    background-color: rgb(26 26 26);
    box-shadow: inset 0 calc(-1 * 1px) 0 rgba(255, 255, 255, 0.1);
}
.accordion-themed-body {
    padding: 1rem 1.25rem;
}